[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.28.33"
python-dotenv = "==1.0.0"
numpy = "==1.24.4"
pandas = "==2.0.3"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = false
